.dash-aside{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.dash-aside h1{
    letter-spacing: 1px;
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
}

.sidebar {
    height: 55%;
    width: 80px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--main-color);
    overflow: hidden;
    transition: width 0.95s ease;
}

.sidebar:hover {
    width: 220px;
}

.side-item span {
    opacity: 0;
    white-space: nowrap;
    margin-left: 30px;
    transition: opacity 0.3s ease;
}

.sidebar:hover .side-item span {
    opacity: 1;
}

/*itens da lateral*/
.side-item{
    height: 33.33%;
    font-weight: 600;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    background-color: transparent;
}

.side-item:hover{
    background-color: rgb(225, 225, 255);
}

.side-item img{
    width: 3rem;
    margin-left: 15px;
}

/*Modo escuro*/
body.dark-mode .sidebar{
    background-color: rgb(85, 85, 120);
}

body.dark-mode .side-item:hover{
    background-color: rgb(75,75, 120);
}