.dash-control{
    position: relative;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

/*DrilDown*/
.control-table-container{
    height: 550px;
    width: 95%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: var(---main--color-hover);
}

.control-table-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.control-table-header h3{
    font-size: 16px;
}

.control-table-content{
    display: flex;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    flex-direction: column;
}

.device-row{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
}

.device-row-details{
    display: flex;
    justify-content: space-between;
}

.device-row-details{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
}

.device-row-details div{
    display: flex;
    justify-content: space-between;
}

.kbps{
    font-weight: bolder;
    font-size: 10px;
}

/*Filtrar por dispositivo*/
.control-device-buttons{
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.device-card{
    padding: 12px;
    border-radius: 10px;
    background-color: var(--main-color);
    transition: .6s;
}

.device-card:hover{
    transform: translateY(-10px);
    background-color: var(---main--color-hover);
}

.device-card img{
    width: 2rem;
}

/*Por dispositivo*/
.device-popup{
    position: absolute;
    bottom: 100px;
    left: 8%;
    width: 85%;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    background-color: var(--main-color);
}

.device-popup h3{
    font-size: 1.4rem;
    text-align: center;
}

.device-popup button{
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(180, 180, 245);
    transition: .6s;
}

.device-popup button:hover{
    background-color: var(---main--color-hover);
}

/*Tema escuro*/
body.dark-mode .filter-control, body.dark-mode .device-popup
body.dark-mode .control-panel, body.dark-mode .control-table-container,
body.dark-mode .control-card, body.dark-mode .control-panel,
body.dark-mode .device-popup, body.dark-mode .control-tabel {
    color: white;
    background-color: var(--dark-color);
}

body.dark-mode .device-card:hover{
    background-color: var(---dark--color-hover);
}

body.dark-mode .device-row-details div{
    color: black;
}