*{
  font-family: Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100vh;
  min-height: 690px;
  width: 100vw;
  min-width: 1480px;
  background-color: white;
}

body, #root{
  display: flex;
  flex-direction: row;
}

:root{
  --main-color: rgb(235, 235, 255);
}

ul{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
}

/*Modo escuro*/
body.dark-mode {
  background-color: rgb(0, 0, 20);
  color: white;
}

body.dark-mode .dash-aside,
body.dark-mode .dash-board,
body.dark-mode .dash-control {
  background-color: rgb(0, 0, 20);
}